// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#subtitle{
	text-align:center;
	font-size: 20px;
	color: #3A6976;
}

.header {
	font-size: 40px;
	text-align: center;
	font-style: sans-serif;
	color: #E91E63
}

#main_header {
	font-size: 60px;
	text-align: center;
	color: #E91E63;
}

.form {
	text-align: center;
	font-style: sans-serif;
}

.footer {
	text-align: center;
	font-size: 30px;
	font-style: sans-serif;
}

.button {
	text-align: center;
	margin-top: 10px;
}

.main_div {  
  margin:auto;
}

.main_div > div {
    float: left;
}

